body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
  background-color: rgb(245, 248, 245)
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 75px;
  padding: 10px;
  margin-left: 4%;
}

img.ui.image{
  height: 14rem;
  width: 100%;
  margin-bottom: 8%;
  border-radius: 5px;
}

div.ui.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
  height: 101%;
  background-color: white;
  border-radius: 5px;
}

div.name{
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 8%;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin-right: -76%;
}

div.pop {
  display: flex;
}

div.meta {
  margin-top: 16px;
  margin-left: 1%;
}

div.reg{
  display: flex;
  margin-top: -8%;
}

div.cap{
  display: flex;
  margin-top: -8%;
}

div.description{
  margin-top: 16px;
  margin-left: 1%;
}

div.content{
  margin-left: 10%;
}

input {
  margin: 1%;
  height: 52px;
  width: 236%;
  border-radius: 5px;
}

.forms {
  display: flex;
  justify-content: space-around;
}